.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.items {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('./books.jpg');
  background-size: contain;
}

.item {
  background-color: grey;
  padding-left: 10px;
  padding-right: 10px;
  border: solid 1px blue;
}

nav {
  background-color: lightblue;
}

h1 {
  text-align: center;
}

.auth {
  background-image: url('./books.jpg');
  background-size: contain;
  text-align: center;
  color: lightblue;
}

form h3 {
  background-color: grey;
  width: fit-content;
  align-self: center;
  border-radius: 8px;
}

h3 {
  width: fit-content;
  align-self: center;
}

.update-div {
  display: flex;
  flex-direction: column;

}

form {
  display: flex;
  flex-direction: column;
}

button {
  width: fit-content;
  align-self: center;
}

label {
  align-self: center;
}